@import "tailwindcss";

@theme {
  --color-brand-light-blue: #e0f2fe;
  --color-brand-dark-blue: #1e3a8a;
}

body {
  background-color: var(--color-brand-light-blue);
  color: #1f2937; /* Default high contrast text */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
